.carshow{
  display: flex;
  justify-content: space-around;
  padding-top: 36px;
  padding-bottom: 16px;
}

.list-group{
  overflow: auto;
  height: 350px;
  width: 500px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 25px;
}

.card-trip > img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 28px;
  font-weight: bolder;
  margin: 0;
}

.card-trip p {
  font-size: 20px;
  opacity: .7;
  margin: 0;
  font-weight: bold;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  margin-top: 80px;
  border-radius: 30px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
