.con_first {
  background-image: asset-url('car.jpg');
  background-size: cover;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
