.navbar-lewagon {
  justify-content: space-between;
  background: white;
}
.navbar-lewagon h1 {
 color: BLACK;
 font-weight: bold;
 font-size : 30pt;
}.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 150px;
}
.white-text {
  color: black;
  font-size : 18pt;
  padding-top: 24px;
}
.avatar {
  width: 80px;
}
// .logo {
//   height: 150px;
// }
